{% extends "wishlist/base.html" %}

{% block content %}
    <h1>How to use our website</h1> <br/>

    <h3>First thing first you need to create an account and login.</h3>

    <p>Our Website is a place where you are able to store a wishlist of various items that you retrieve from the the
     internet. Why write down your list on a piece of paper that you can lose when you can keep all the things you want
     in one place without the fear of being able to lose the information.</p> <br/> <br/>

    <h3>Creating a Wishlist</h3>

    <p>When you create an account you will be granted access to a wishlist that you can add different items from other
     websites.</p> <br/><br/>

    <h3>Adding a Wish</h3>

    <p>When you create a wish, you need to make sure you have:</p>

    <ul>
    <li>a photo (optional)</li>
    <li>a name</li>
    <li>a description</li>
    <li>a url to the product</li>
    </ul><br/>

    <p>Then you put the appropriate pieces in their respective places and submit the wish to add it to your total
        wishlist.</p> <br/><br/>

    <h3>Editing a Wish</h3>

    <p>Do not worry if you make a mistake when creating your wish as you will be able to go back and edit the items information.</p>

{% endblock content %}