<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'wishlist/main.css' %}">

        {% if title %}
            <title>Django Wishlist - {{ title }}</title>
        {% else %}
            <title>Django Blog</title>
        {% endif %}
        <script>
            function validate(){
                var error = "";
                var username = document.getElementsByName("username");
                var password = document.getElementsByName("password");
                var retype = document.getElementsByName("retype");

                if(username.value == "" || username.length < 8){
                    error = "Enter a username between 8 and 20 characters."
                    document.getElementById("errors").innerHTML = error;
                    return false;
                }
                if(password.value == "" || password.length < 8){
                    error = "Password is too short."
                    document.getElementById("errors").innerHTML = error;
                    return false;
                }
                if(password.length > 20){
                    error = "Password is too long."
                    document.getElementById("errors").innerHTML = error;
                    return false;
                }
                if(retype.value != password.value){
                    error = "Passwords do not match."
                    document.getElementById("errors").innerHTML = error;
                    return false;
                }
                else{
                    return true;
                }
            }
        </script>
    </head>
    <body>
        <div class="title">
            <h2>Create Account</h2>
        </div>

        <form method="post" onsubmit="return validate">
            <h4>Username:</h4><br/>
            <input name="username" type="text" size="15"><br/>
            <h4>Password:</h4><br/>
            <input name="password" type="password" size="15"><br/>
            <h4>Retype Password:</h4><br/>
            <input name="retype" type="password" size="15"><br/>
            <input type="submit" value="Create">
        </form>

    <p id="errors"></p>

    </body>
</html>