<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View List</title>
    <link rel="stylesheet" href="../../static/wishlist/listpage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../static/wishlist/main.css">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"><img src="../../static/wishlist/wiii.png" alt="..."
          height="36">       Wishlist</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/about">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            </div>
          </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="item">
        <img src="https://m.media-amazon.com/images/I/61-PblYntsL._AC_SL1500_.jpg" height="200" width="200">
        <b><p class="item_name">Nintendo Switch</p></b>
        <i><a href="https://www.amazon.com/Nintendo-Switch-Neon-Blue-Joy%E2%80%91/dp/B07VGRJDFY?th=1">Link</a></i>
        <p class="item_description">A Nintendo Switch with neon red and blue joy cons</p>
    </div>
    <div class="item">
        <img src="https://m.media-amazon.com/images/I/61-PblYntsL._AC_SL1500_.jpg" height="200" width="200">
        <b><p class="item_name">Nintendo Switch</p></b>
        <i><a href="https://www.amazon.com/Nintendo-Switch-Neon-Blue-Joy%E2%80%91/dp/B07VGRJDFY?th=1">Link</a></i>
        <p class="item_description">A Nintendo Switch with neon red and blue joy cons</p>
    </div>
</div>
</body>
</html>